<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/globetrotter/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/globetrotter/globetrotter.css" />
    <script is:inline>
      function applyTheme(theme) {
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
        localStorage.setItem("theme", theme);
      }
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme) {
        applyTheme(savedTheme);
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        applyTheme("dark");
      } else {
        applyTheme("light");
      }
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (e) => {
          // if (!localStorage.getItem("theme")) {
          applyTheme(e.matches ? "dark" : "light");
          // }
        });
      window.toggleTheme = function () {
        const newTheme = document.documentElement.classList.contains("dark")
          ? "light"
          : "dark";
        applyTheme(newTheme);
        console.log(`toggle theme to ${newTheme}`);
      };
    </script>
    <title>Globetrotter</title>
  </head>
  <body>
    <slot />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
